@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url(./glitch.css);

:root {
    --background-color: black;
    --primary-color: #1daa0b;
    --secondary-color: #af3ce0;
    --text-color: #fff;
    --icons-color: #ffffff;
    --card-background: #f4f4f4;
    --weight-small: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --font-family-primary: "Roboto Mono", monospace;

}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    font-weight: var(--weight-bold);

}

body {
    color: linen;
    background-color: black;
    background-image: url(/assets/body_wallpaper.png);
    background-repeat: repeat;
    background-size: contain;
}

h2 {
    font-family: var(--font-family-primary);
    font-weight: var(--weight-medium);
}



a {
    text-decoration: none;
    color: linen;
    font-weight: var(--weight-small);
}

.navbar {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 60px;
    background: transparent;
}

.menu-buttons {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.menu {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu li {
    position: relative;
    margin: 0px 20px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}

.logo {
    display: inline-block;
    font-size: 2rem;
    font-family: "Roboto Mono", monospace;
}

.logo h1 {
    font-size: 3.5rem;
    margin-left: 5rem;
    cursor:pointer;

}

.temp-btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.82rem;
    transition: 0.3s;
}

.temp-btn:hover {
    background: var(--secondary-color);
    color: #000000;
}

.perm-btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.82rem;
    transition: 0.3s;
    border-style: solid;
    border-radius: 30px;
    border-color: var(--primary-color);
    z-index: 20;
    color: #ffff;
}

.perm-btn:hover {
    background-color: var(--primary-color);
    color: black;
}

.user-tie {
    margin-left: 0.3rem;
    font-size: 1.8rem;
}

/* WHOLE PAGE SETUP */


.content {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
    background-image: url(/assets/hero_wallpaper.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.perm-social{
    position: fixed;
    display: block;
    left: 5rem;
    top: 30vh;
    width: 5rem;
    height: 25rem;
    background-color: transparent;
}

.contact-me {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-me ul{
    display: flex;
    margin: auto;
}

.contact-me li{
    margin: 1.5rem;
    font-size: 3rem;
    text-decoration:none;
    list-style: none;
}

.contact-me li:hover {
    transform: translateX(1rem);
    transition: 300ms ease;
    cursor:pointer;
}


/* FIRST SECTION SETUP */

.hero {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 1rem;
    padding: 1rem;
}

.hero h1 {
    margin: 0px 0px 30px 4px;
    font-size: 2rem;
    color: var(--primary-color);
}

.hero h2 {
    margin: 0px 0px 30px 4px;
    font-size: 5rem;
    font-weight: var(--weight-bold);
    color: #ffff;
    
}

.hero p {
    margin: 0px 0px 30px 4px;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.5);
}

.hero .mvp {
    font-size: 2rem !important;
    color: var(--primary-color) !important;
    max-width: 80rem;
}

.find-more.perm-btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 2rem;
    transition: 0.3s;
    border-style: solid;
    border-color: var(--primary-color);
    z-index: 20;
    color: #ffff;
}

.find-more .perm-btn:hover {
    background-color: var(--primary-color);
    color: black;
}

.learn-more {
    margin-left: 0rem;
    margin-top: 0rem;
}

.learn-more a {
    font-size: 1.5rem;
    font-weight: var(--weight-bold);

}

/* WHO AM I SECTION */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.whois {
    grid-column: 1/2;
    min-height: 100vh;
}

.whois hr,
h1 {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4rem;
}

.whois hr:last-of-type {
    margin-bottom: 5rem;
}

.whois p {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: left;
}

.whois ul {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 0;
    list-style: none;
    font-size: 2rem;
}

.whois .skills-icon {
    color: var(--primary-color);
}


.my-image {
    grid-column: 2/2;
    min-height: 100vh;
    margin-left: 5rem;
    margin-top: 5rem;
}

.my-image .profile {
    position: relative;
    margin: auto;
    display: flex;
    width: 40rem;
    align-content: center;
    vertical-align: center;
    border-radius: 2rem;
    border-color: var(--secondary-color);
    border-style: solid;
}

.my-image>.circle1 {
    position: absolute;
    z-index: 2;
    margin-top: -37rem;
    margin-left: 12rem;
    display: inline-block;
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1rem;
    z-index: -1;
}

/* PROJECTS */

.projects {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 1rem;
    padding:1rem;
    background-image: url(/assets/Project_Page_Wallpaper.png);
    background-repeat: repeat;
    background-size: contain;
}

.project-container {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;

}

.project-container.active {
    transform: translateY(0);
    opacity: 1;
}

.projects h1 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.projects h2 {
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    padding: 1rem 1rem;
    position: relative;
    align-content: center;
    background-image: url(/assets/project_dummy.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    min-width: 60rem;
    min-height: 30rem;
    width: 90rem;
    height: 40rem;

}

.project-image .external-links {
    font-size: 4rem;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
    margin-top: 12rem;
    margin-left: 4.5rem;
    width: 80rem;
    opacity: 0;
}



.project-image:hover .external-links {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12rem;
    margin-left: 4.5rem;
    width: 80rem;
    transition: 1s;
    opacity: 1;
}

.external-links:hover i{
    cursor: pointer;
}


.project-image:hover {
    opacity: 1;
    transition: 1s;
}


.project-description {
    position: relative;
    top: -8rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 70rem;
    height: 20rem;
    border-style: solid;
    border-color: rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
}

.project-description h2 {
    font-family: var(--font-family-secondary);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;

}

.project-description p {
    font-family: var(--font-family-secondary);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
   
}


.projects .tech-stack {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-evenly;
    -moz-box-align: center;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom: 2rem;
    padding: 1rem;
    color: rgb(13, 233, 159);
}

.projects .tech-stack li {
    margin-left: 2rem;
    margin-bottom: 4rem;
}

/* CONTACT */

.next-steps {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 1rem;
    padding: 1rem;
    background:transparent;
}

.next-steps h1 {
    display: block;
    text-align: left;
    font-family: var(--font-family-primary);
    font-size: 5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}

.next-steps h2 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.next-steps h3 {
    display: inline-block;
    text-align: flex-start;
    font-family: var(--font-family-primary);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    max-width: 100rem;
}

.first-of-all p {
    display: flex;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 3rem;
    margin-top: 15rem;
    margin-bottom: 3rem;
    width: 100%
}

.next-steps>.say-hi {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.3rem 0.3rem;
    margin-right: auto;
    margin-left: 55rem;
    width: 15rem;
    height: 5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--weight-bold);
    border-style: solid;
    border-radius: 3rem;
    border-color: var(--secondary-color);
    color: white;
    cursor:pointer;
}

.next-steps .say-hi:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: black;
}

.connector {
    width: 600px;
    z-index: 25;
    position: absolute;
    display: inline-block;
    left: 90rem;
    top: 415rem;
    

    
}

/* Footer */

footer {
    background: #111111;
    height: 10rem !important;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;

}

footer .container a {
    font-size: 2rem;
    font-family: var(--font-family-secondary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.7;
}


footer .container:hover a {
    color: var(--secondary-color);
    opacity: 1;
}

footer .footer-social {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    width: 500px;

}



footer .footer-social .fa-brands:hover {
    color: var(--secondary-color);
    opacity: 1;
}