@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');


:root {
    --background-color: black;
    --primary-color: #1daa0b;
    --secondary-color: #af3ce0;
    --text-color: #fff;
    --icons-color: #ffffff;
    --card-background: #f4f4f4;
    --weight-small: 400;
    --weight-semibold: 600;
    --weight-bold: 800;
    --font-family-primary: Arial, sans-serif;
    --font-family-secondary: "Roboto Mono", monospace;

}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

body {
    color: linen;
    background-color: black;
}

h2 {
    font-family: var(--font-family-primary);
}



a {
    text-decoration: none;
    color: linen;
}

.navbar {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 60px;
    background-color: rgb(27, 27, 27);
}

.menu-buttons {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.menu {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu li {
    position: relative;
    margin: 0px 20px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo {
    display: inline-block;
    font-size: 2rem;
    font-family: var(--font-family-secondary);
}

.temp-btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.82rem;
    transition: 0.3s;
}

.temp-btn:hover {
    background: var(--secondary-color);
    color: #000000;
}

.perm-btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.82rem;
    transition: 0.3s;
    border-style: solid;
    border-radius: 30px;
    border-color: var(--primary-color);
    z-index: 20;
    color: #ffff;
}

.perm-btn:hover {
    background-color: var(--primary-color);
    color: black;
}

.user-tie {
    margin-left: 0.3rem;
    font-size: 1.8rem;
}

/* WHOLE PAGE SETUP */

.content {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
}

/* FIRST SECTION SETUP */

.hero {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.hero h1 {
    margin: 0px 0px 30px 4px;
    font-size: 2rem;
    color: var(--primary-color);
}

.hero h2 {
    margin: 0px 0px 30px 4px;
    font-size: 5rem;
    color: #ffff;
}

.hero p {
    margin: 0px 0px 30px 4px;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.5);
}

.hero .mvp {
    font-size: 2rem !important;
    color: var(--primary-color) !important;
    max-width: 80rem;
}

.learn-more {
    margin: 0px 0px 30px 4px;
}

.learn-more a {
    font-size: 1.5rem;
    font-weight: 600;
}

/* WHO AM I SECTION */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.whois {
    grid-column: 1/2;
    min-height: 100vh;
}

.whois hr,
h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4rem;
}

.whois hr:last-of-type {
    margin-bottom: 5rem;
}

.whois p {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: left;
}

.whois ul {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 0;
    list-style: none;
    font-size: 2rem;
}

.whois .skills-icon {
    color: var(--primary-color);
}


.my-image {
    grid-column: 2/2;
    min-height: 100vh;
    margin-left: 5rem;
    margin-top: 5rem;
}

.my-image .profile {
    display: flex;
    width: 400px;
    align-content: center;
    vertical-align: center;
}

.my-image>.circle1 {
    position: relative;
    margin-left: 7rem;
    margin-top: -36rem;
    display: inline-block;
    padding: 18rem 16.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1.5rem;
    z-index: -1;
}

/* PROJECTS */

.projects {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}

.project-container {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;

}

.project-container.active {
    transform: translateY(0);
    opacity: 1;
}

.projects h1 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.projects h2 {
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    padding: 1rem 1rem;
    position: relative;
    align-content: center;
    background-image: url(/assets/project_dummy.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    max-width: 80rem;
    max-height: 30rem;
    width: 100rem;
    height: 60rem;

}

.project-image .external-links {
    font-size: 4rem;
    display: flex;
    position: relative;
    top: 15rem;
    left: 30rem;
    align-items: center;
    justify-content: space-evenly;
    width: 15rem;
    opacity: 0;
}

.project-image:hover .external-links {
    font-size: 4rem;
    display: flex;
    position: relative;
    top: 15rem;
    left: 30rem;
    align-items: center;
    justify-content: space-evenly;
    width: 15rem;
    transition: 1s;
    opacity: 1;
}

.project-image:hover {
    opacity: 1;
    transition: 1s;
}


.project-description {
    position: relative;
    top: -8rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 60rem;
    height: 15rem;
    border-style: solid;
    border-color: rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
}

.project-description h2 {
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    text-align: center;

}

.project-description p {
    font-family: var(--font-family-secondary);
    font-size: 1.1rem;
    text-align: center;
}


.projects .tech-stack {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-evenly;
    -moz-box-align: center;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
}

.projects .tech-stack li {
    margin: 2rem 2rem;
}

/* CONTACT */

.next-steps {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}

.next-steps h1 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.next-steps h2 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.next-steps h3 {
    display: flex;
    text-align: flex-start;
    font-family: var(--font-family-secondary);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    max-width: 800px;
}

.first-of-all p {
    display: flex;
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: 3rem;
    margin-top: 5rem;

    width: 100%
}

.next-steps .say-hi {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.9rem;
    border-radius: 30%;
    text-transform: uppercase;
    font-size: 3rem;
    border-style: solid;
    border-radius: 3rem;
    border-color: var(--secondary-color);
    color: white;
}

.next-steps .say-hi:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: black;
}

/* Footer */
footer {
    background: #111111;
    height: 8rem !important;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;

}

footer .container a {
    font-size: 1.5rem;
    font-family: var(--font-family-secondary);
    margin-top: 1rem;
    opacity: 0.7;
}


footer .container:hover a {
    color: var(--secondary-color);
    opacity: 1;
}

footer .footer-social {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 500px;

}



footer .footer-social .fa-brands:hover {
    color: var(--secondary-color);
    opacity: 1;
}